* {
  font-weight: bold;
}

.form-container {
  border: none;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 3rem;
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.form-group {
  padding: 1rem 0;
  line-height: 1rem;
}

label {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.8);
}

.inp {
  border-radius: 0;
  border: 2px solid rgba(255, 255, 255, 0.01);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding: 0.5rem;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0.06);
}

.inp:hover,
.inp:focus {
  background-color: rgba(0, 0, 0, 0.3);
  border: 2px solid rgba(255, 255, 255, 0);
  border-left: 2px solid rgba(255, 255, 255, 0.8);
  border-right: 2px solid rgba(255, 255, 255, 0.8);
}

.btn {
  border: 2px solid transparent;
  border-radius: 0;
  padding: 0.5rem;
  margin: 0.7rem 0;
  align-items: center;
  font-size: 1.5rem;
  margin-right: 15px;
}

.add-btn {
  background-color: rgba(131, 5, 248, 0.762);
  color: rgba(255, 255, 255, 0.8);
}

.add-btn:hover {
  background-color: rgba(167, 72, 255, 0.837);
  color: rgba(255, 255, 255, 1);
}

.dlt-btn {
  background-color: rgba(203, 8, 8, 0.85);
  color: rgba(255, 255, 255, 0.8);
}

.dlt-btn:hover {
  background-color: rgba(255, 2, 2, 0.85);
  color: rgba(255, 255, 255, 1);
}
